
@{
    ViewBag.Title = "FinalizarCompra";
}

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/estiloBotones.css">
</head>
<body>
    <div class="wrapper fadeInDown alto">
        <div id="fondo">
            <h2 class="active fadeIn first">Gracias por su compra</h2>
        </div>
        <img src="~/img/like2.png" />
    </div>
</body>

