@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <title>Farma-Co</title>
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="~/css/estilos.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <section class="textos-header">
            <h1>Nosotros te cuidamos</h1>
            <h2>#Qu&eacute;dateEnCasa</h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div>
    </header>

    <main>
        <section class="contenedor sobre-nosotros">
            <h2 class="titulo">Nuestro Servicio</h2>
            <div class="contenedor-sobre-nosotros">
                <img class="imagen-about-us" src="~/img/muestra.jpg">
                <div class="contenido-textos">
                    <h3><span>1</span>Los mejores productos</h3>
                    <p>Tenemos Productos Farmaceuticos de la mejor calidad para asi cuidar tu salud</p>

                    <h3><span>2</span>La mejor atenci&oacute;n</h3>
                    <p>Con nuestros profesionales farmaceúticos te daremos una atención cordial y amistosa durante tu visita</p>

                    <h3><span>3</span>Mejores Precios</h3>
                    <p>Tenemos los mejores precios para tu bolsillo</p>
                </div>
            </div>
        </section>

        <section class="portafolio">
            <div class="contenedor">
                <h2 class="titulo">Productos</h2>
                <div class="galeria-port">

                    <div class="imagen-port">
                        <img src="~/img/resfriolGrageas.jpg">
                        <div class="hover-galeria">
                            <img src="~/img/icon.png">
                            <p>Resfriol Grageas</p>
                            <p>Bs. 0.66</p>
                        </div>
                    </div>

                    <div class="imagen-port">
                        <img src="~/img/refrianex.jpg">
                        <div class="hover-galeria">
                            <img src="~/img/icon.png">
                            <p>Refrianex</p>
                            <p>Bs. 5.38</p>
                        </div>
                    </div>

                    <div class="imagen-port">
                        <img src="~/img//resfriolito.jpg">
                        <div class="hover-galeria">
                            <img src="~/img//icon.png">
                            <p>Resfriolito</p>
                            <p>Bs. 0.49</p>
                        </div>
                    </div>

                    <div class="imagen-port">
                        <img src="~/img/SANATUSINGEL.jpg">
                        <div class="hover-galeria">
                            <img src="~/img/icon.png">
                            <p>Sanatusin Gel</p>
                            <p>Bs. 6.58</p>
                        </div>
                    </div>

                    <div class="imagen-port">
                        <img src="~/img/DOLOGRIP.jpg">
                        <div class="hover-galeria">
                            <img src="~/img/icon.png">
                            <p>Dologrip Gotas</p>
                            <p>Bs. 46.50</p>
                        </div>
                    </div>

                    <div class="imagen-port">
                        <img src="~/img/paracetamol.jpg">
                        <div class="hover-galeria">
                            <img src="~/img/icon.png">
                            <p>Paracetamol</p>
                            <p>Bs. 0.50</p>
                        </div>
                    </div>

                    <div class="imagen-port">
                        <img src="~/img/aspirinetas.jpg">
                        <div class="hover-galeria">
                            <img src="~/img/icon.png">
                            <p>Aspirinetas</p>
                            <p>Bs. 0.44</p>
                        </div>
                    </div>

                    <div class="imagen-port">
                        <img src="~/img/paldolor.jpg">
                        <div class="hover-galeria">
                            <img src="~/img/icon.png">
                            <p>Paldolor Extra Forte</p>
                            <p>Bs. 2.49</p>
                        </div>
                    </div>

                    <div class="imagen-port">
                        <img src="~/img/trassil.jpg">
                        <div class="hover-galeria">
                            <img src="~/img/icon.png">
                            <p>Trassil</p>
                            <p>Bs. 6.20</p>
                        </div>
                    </div>

                    <div class="imagen-port">
                        <img src="~/img/actron.jpg">
                        <div class="hover-galeria">
                            <img src="~/img/icon.png">
                            <p>Actron</p>
                            <p>Bs. 3.06</p>
                        </div>
                    </div>

                    <div class="imagen-port">
                        <img src="~/img/reduxon.jpg">
                        <div class="hover-galeria">
                            <img src="~/img/icon.png">
                            <p>Reduxon</p>
                            <p>Bs. 15.00</p>
                        </div>
                    </div>

                    <div class="imagen-port">
                        <img src="~/img/figuvit.jpg">
                        <div class="hover-galeria">
                            <img src="~/img/icon.png">
                            <p>Figuvit</p>
                            <p>Bs. 37.00</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="clientes contenedor">
            <h2 class="titulo">Misión, Visión y Valores</h2>
            <div class="cards">
                <div class="card">
                    <img src="~/img/mision.png">
                    <div class="contenido-texto-card">
                        <h4>Misi&oacute;n</h4>
                        <li>
                            Contribuimos a la salud de nuestros usuarios con productos farmacéuticos de
                            calidad, comprometidos con el mejoramiento continuo de los servicios que
                            prestamos a nuestros clientes, nos destacamos por la profesionalidad y
                            amabilidad de nuestro personal, con el propósito de cimentar relaciones de
                            largo plazo con todas las partes interesadas.
                        </li>
                    </div>
                </div>

                <div class="card">
                    <img src="~/img/vision.png">
                    <div class="contenido-texto-card">
                        <h4>Visi&oacute;n</h4>
                        <li>
                            La salud es un todo. No se centra únicamente en la no aparición de enfermedades o dolencias,
                            sino que incluye la armonía de la persona y la imagen que tiene de sí misma. Como lo expresa la
                            Organización Mundial de la Salud, “es un estado de completo bienestar, social y mental”.
                        </li>
                    </div>
                </div>

                <div class="card">
                    <img src="~/img/valores.jpg">
                    <div class="contenido-texto-card">
                        <h4>Valores</h4>
                        <li>Ética y moralidad para el cliente y nuestros empleados</li>
                        <li>Igualdad de oportunidades sin importar género, cultura o religión</li>
                        <li>Medioambientalmente sostenibles</li>
                    </div>
                </div>
            </div>

        </section>

        <section class="about-services">
            <div class="contenedor">
                <h2 class="titulo">Nuestros Servicios</h2>
                <div class="servicio-cont">
                    <div class="servicio-ind">
                        <img src="~/img/farmacia1.png">
                        <h3>Sucursal</h3>
                        <p>Puedes visitarnos en nuestra sucursal de la Av. Santa Cruz</p>
                    </div>

                    <div class="servicio-ind">
                        <img src="~/img/farmacia2.jpg">
                        <h3>Delivery</h3>
                        <p>Contamos con servicio delivery para tu seguridad</p>
                    </div>

                    <div class="servicio-ind">
                        <img src="~/img/farmacia3.jpg">
                        <h3>Atención</h3>
                        <p>Nuestra atencion son de 8:00 a 22:00 horas</p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Telefono</h4>
                <p>2222222</p>
            </div>

            <div class="content-foo">
                <h4>E-mail</h4>
                <p>farmaciafarmaco@gmail.com</p>
            </div>

            <div class="content-foo">
                <h4>Ubicación</h4>
                <p>Av. Mariscal Santa Cruz, Edificio Esperanza</p>
            </div>
        </div>

        <h2 class="titulo-final"> &copy; Farmacia "Farma-Co" 2020</h2>
    </footer>
</body>
</html>