
@{
    ViewBag.Title = "Mapa";
}

<html>
<head>
    <title>Farma-Co</title>
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="~/css/ubi.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet">

</head>
<body>
    <div class="mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3825.5734502204086!2d-68.13859908554161!3d-16.497122445024445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915f21a6a16aaedf%3A0x95d6c067cd10b4a4!2sEdificio%20Esperanza!5e0!3m2!1ses!2sbo!4v1608075588827!5m2!1ses!2sbo" width="100%" height="700px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>

    <main>
        <section class="clientes contenedor">
            <h2 class="titulo">Misión, Visión y Valores</h2>
            <div class="cards">
                <div class="card">
                    <img src="~/images/mision.png">
                    <div class="contenido-texto-card">
                        <h4>Misi&oacute;n</h4>
                        <li>
                            Contribuimos a la salud de nuestros usuarios con productos farmacéuticos de
                            calidad, comprometidos con el mejoramiento continuo de los servicios que
                            prestamos a nuestros clientes, nos destacamos por la profesionalidad y
                            amabilidad de nuestro personal, con el propósito de cimentar relaciones de
                            largo plazo con todas las partes interesadas.
                        </li>
                    </div>
                </div>

                <div class="card">
                    <img src="~/images/vision.png">
                    <div class="contenido-texto-card">
                        <h4>Visi&oacute;n</h4>
                        <li>
                            La salud es un todo. No se centra únicamente en la no aparición de enfermedades o dolencias,
                            sino que incluye la armonía de la persona y la imagen que tiene de sí misma. Como lo expresa la
                            Organización Mundial de la Salud, “es un estado de completo bienestar, social y mental”.
                        </li>
                    </div>
                </div>

                <div class="card">
                    <img src="~/images/valores.jpg">
                    <div class="contenido-texto-card">
                        <h4>Valores</h4>
                        <li>Ética y moralidad para el cliente y nuestros empleados</li>
                        <li>Igualdad de oportunidades sin importar género, cultura o religión</li>
                        <li>Medioambientalmente sostenibles</li>
                    </div>
                </div>
            </div>

        </section>

        <section class="about-services">
            <div class="contenedor">
                <h2 class="titulo">Nuestros Servicios</h2>
                <div class="servicio-cont">
                    <div class="servicio-ind">
                        <img src="~/images/farmacia1.png">
                        <h3>Sucursal</h3>
                        <p>Puedes visitarnos en nuestra sucursal de la Av. Santa Cruz</p>
                    </div>

                    <div class="servicio-ind">
                        <img src="~/images/farmacia2.jpg">
                        <h3>Delivery</h3>
                        <p>Contamos con servicio delivery para tu seguridad</p>
                    </div>

                    <div class="servicio-ind">
                        <img src="~/images/farmacia3.jpg">
                        <h3>Atención</h3>
                        <p>Nuestra atencion son de 8:00 a 22:00 horas</p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Telefono</h4>
                <p>2222222</p>
            </div>

            <div class="content-foo">
                <h4>E-mail</h4>
                <p>farmaciafarmaco@gmail.com</p>
            </div>

            <div class="content-foo">
                <h4>Ubicación</h4>
                <p>Av. Mariscal Santa Cruz, Edificio Esperanza</p>
            </div>
        </div>

        <h2 class="titulo-final"> &copy; Farmacia "Farma-Co" 2020</h2>
    </footer>
</body>
</html>

